# Bağımlılıklar (En önemlisi bu)
node_modules/

# Build (Derleme) çıktıları
dist/
dist-ssr/

# Çevre Değişkenleri (Şifreler içerir, ASLA repoya gitmemeli)
.env
.env.local
.env.*.local

# Editör klasörleri
.vscode/
.idea/

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db

# Log dosyaları
npm-debug.log*
yarn-debug.log*
yarn-error.log*dist/
